<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:rabbit="http://www.springframework.org/schema/rabbit"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd

    http://www.springframework.org/schema/rabbit
    http://www.springframework.org/schema/rabbit/spring-rabbit-1.0.xsd">

    <!--配置application-mq.xml配置文件,声明连接,交换机,queue以及consumer监听.-->
    <description>rabbitmq 连接服务配置</description>

    <!--CallerRunsPolicy:用调用者的线程来运行任务-->

    <rabbit:connection-factory id="connectionFactory" host="${mq.host}" username="${mq.username}"
                               password="${mq.password}" port="${mq.port}" virtual-host="${mq.vhost}"/>

    <rabbit:admin connection-factory="connectionFactory" id="amqpAdmin"/>

    <rabbit:direct-exchange name="mq-exchange-0420"
                            durable="true" auto-delete="false" id="mq-exchange-0420">
        <rabbit:bindings>
            <rabbit:binding queue="rabbit_queue_one_0420" key="rabbit_queue_one_0420"/>
        </rabbit:bindings>
    </rabbit:direct-exchange>

    <!-- spring template声明-->
    <rabbit:template exchange="mq-exchange-0420" id="amqpTemplate" connection-factory="connectionFactory"/>

    <!-- queue 队列声明 -->
    <rabbit:queue id="rabbit_queue_one_0420" durable="true"
                  auto-delete="false" exclusive="false" name="rabbit_queue_one_0420"/>

    <bean id="messageProducerService" class="com.ele.rabbitmq.helloworld.MessageProducerService"/>

</beans>